@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    margin: 0 !important;
    background: #FAF1F1;
    font-family: 'Poppins';
}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

/* Set the scrollbar track color */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Set the scrollbar thumb color */
::-webkit-scrollbar-thumb {
    background-color: #6E4B4C;
    border-radius: 10px;
}

/* Add an animation to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #f00;
    transition: background-color 0.10s ease-in-out;
}